@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c0fcfb; /* Updated background color */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Retain dark mode background */
    --foreground: #fdfafa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Global CSS or Tailwind Overrides */
/* Global CSS or Tailwind Overrides */
.line-decor {
  position: relative;
  width: 40px; /* Adjust width as needed */
  height: 10px;
}

.line-decor::before,
.line-decor::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #00A6C2; /* Adjust the color as necessary */
  width: 100%;
}

.line-decor::before {
  bottom: 0; /* Make the top line shorter and move it to the bottom */
  width: 70%; /* The shorter line at the bottom */
}

.line-decor::after {
  top: 0; /* Make the bottom line longer and move it to the top */
  width: 100%; /* The longer line at the top */
}
